{% extends 'account/layout.html' %}

{% block content %}

<h1 style="text-align:center;">
    Your entries
</h1>
<div>
    {% if happiness_list %}
    <table>
        {% for happiness in happiness_list %}
            <tr>
                <td>
                    <p>{{ happiness.date }}</p>
                </td>
                <td>
                    <p>{{ happiness.rating }}</p>
                </td>
                <td>
                    <a href="{% url 'happiness:happiness_detail' happiness.id %}">
                        <button>View details</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination" style="text-align: center;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;First</a>
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>

{% endblock %}