{% extends 'account/layout.html' %}

{% block content %}

<h1 style="text-align:center;">
    Your entries
</h1>
<div>
    {% if happiness_list %}
    <table>
        {% for happiness in happiness_list %}
            <tr>
                <td>
                    <p>{{ happiness.date }}</p>
                </td>
                <td>
                    <p>{{ happiness.rating }}</p>
                </td>
                <td>
                    <a href="{% url 'happiness:happiness_detail' happiness.id %}">
                        <button>View details</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}